@import './donateCard';

.one-program-container{
  @include default-container;
  padding: 2em 0 2.5em;
}

.guide{
  padding-bottom: 3em;
  .guide-link{
    text-decoration: underline;
    @include font-adjust(0.8em, 700, var(--caption-green));
    &:hover{
      color: var(--caption-grey)
    }
    
  }
  .guide-arrow{
    @include font-adjust(0.8em, 500, var(--caption-green));
    padding: 0 0.5em;
  }
}

.one-program-info{
  .main-title{
    text-align: center;
    padding-bottom: 1.5em;
  }
  .one-program-img{
    width: 100%;
    height: 50vh;
    min-height: 300px;
    object-fit: cover;
    padding-bottom: 1em;
  }
  .one-program-content{
    @include font-adjust(1em, 400, var(--body-dark));
    line-height: 1.2;
    padding-bottom: 1.5em;
    hr{
      // padding: 0.5em 0;
      visibility: hidden;
      height: 0.5em;
    }
  }
}

.upcomming-event{
  padding-bottom: 2em;
  .upcomming-event-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    .upcomming-event-card{
      width: 100%;
      max-width: 100%;
    }
  }
  .upcomming-event-link{
    // text-align: right;
    display: flex;
    justify-content: end;
    text-decoration: underline;
    @include font-adjust(0.8em, 500, var(--caption-green));
    // margin-bottom: 2em;
    &:hover{
      font-weight: 700;
    }
  }
}

.one-program-btn-group{
  display: flex;
  flex-direction: column;
  text-align: center;
  // justify-content: center;
  // justify-content: space-between;
  .border-btn{
    height: 40px;
    line-height: 40px;
    &:not(:last-child){
      margin-bottom: 0.5em;
    }
  }
}



@media screen and (min-width:768px) {
  .upcomming-event {
    .upcomming-event-group {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }
  .one-program-btn-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 1em;
    .border-btn {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width:1080px) {
  .one-program{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
  }
  .donate-card[data-mode="desktop"]{
    position:sticky;
    top: 14em;
    margin-bottom: 2.5em;
  }
  // .donate-card{
  //   // width: 20%;
  //   position: sticky;
  //   top: 0;

  // }
  // .donate-card{
  //   width: 20%;
  //   position: fixed;
  //   top: 265px;
  //   right: 30px;
  // }
}