.event-list {
  margin: 0 24px 8px;

  .event-item {
    &:not(:last-child){
      border-bottom: 1px dotted var(--eventlist-border);
    }
    
    padding: 10px;

    &:hover{
      border: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .event-item-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      .event-item-title {
        @include font-adjust(16px, 400, var(--main-heading-dark));
      }

      i {
        color: var(--caption-green);
        font-size: 20px;
      }
    }

    .event-item-time {
      margin-bottom: 2px;
    }

    .event-item-time,
    .event-item-location {
      @include font-adjust(12px, 400, var(--caption-grey));
    }
  }
}