// font settings
@mixin font-adjust($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  @content;
}

// social media icon settings
@mixin svg-adjust($size, $color) {
  svg {
    width: $size;
    height: $size;
    background-color: transparent;
    border-radius: 50%;

    path {
      fill: $color;
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}

// cover background settngs
@mixin cover-bg($width, $height, $radius) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $radius;
}

// default container
@mixin default-container{
  width: 90%;
  margin: 0 auto;
  // padding: 1em 0 3em;
}