.job-option-container{
  margin-bottom: 60px;
  white-space: nowrap;
  width: 90%;
  margin: 0 auto;

  overflow-x: scroll;
  .job-apply-card {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    @include cover-bg(100%, 30vh, 10px);
    max-width: 400px;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    .card-body{
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--card-bg);
      width: 100%;
      padding: 8px 16px;
      .card-body-title {
      // width: 95%;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
        .card-title {
          @include font-adjust(16px, 700, var(--btn-font-dark-green));
        }
        .card-info {
          @include font-adjust(12px, 400, var(--btn-font-dark-green));
          text-decoration: underline;
          &:hover{
            font-weight: 700;
          }
        }
      }
      .card-body-content {
        .card-item {
          &:last-child{
            padding-left: 8px;
          }
          .card-item-icon {
            @include svg-adjust(12px, var(--caption-green));
          }

          .card-item-body {
            padding-left: 4px;
            @include font-adjust(12px, 400, var(--caption-green));
          }
        }
      }
    }
  }
}

@media screen and (min-width:1080px) {
  .job-option-container{
    white-space: unset;
    // width: 100%;
    padding-right: 1em;
    overflow-x: unset;
    overflow-y: scroll;
    height: 100vh;
    .job-apply-card{
      display: block;
      max-width: unset;
    }
  }
}