@import './jobOptions';
@import './applyProgress';
@import './stepOne';
@import './stepTwo';
@import './stepThree';
@import './stepDone';
@import './applyProgressControl';



.form-container{
  @include default-container;
  .form-section{
    max-width: 760px;
    margin: 0 auto;
  }
}

@media screen and (min-width:768px) {
  .form-container{
    max-width: 800px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1080px) {
  .join-us-container{
    padding: 2em 0 2.5em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
  }
  .form-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}