

.site-footer{
  background-color: var(--footer-bg);
  width: 100%;
  .footer-container{
    padding: 40px 24px;
    max-width: 1200px;
    margin: 0 auto;
    .footer-logo-container{
      display: none;
    }
    .footer-section{
      margin-bottom: 40px;
      .section-title{
        @include font-adjust(16px, 700, var(--main-heading-light));
        margin-bottom: 16px;
      }
      .footer-list{
        @include font-adjust(12px, 400, var(--body-light));
        .footer-item{
          margin-bottom: 8px;
          .footer-link{
            color: var(--body-light);
          }
        }
      }
      .footer-group{
        .social-media-link{
          @include svg-adjust(30px, var(--body-light));
          &:not(:last-child){
            margin-right: 8px;
          }
          &:last-child{
            @include svg-adjust(32px, var(--body-light));
          }
        }
      }
    }
  }
}


@media screen and (min-width:768px){
  .site-footer{
    .footer-container {
      display: flex;
      justify-content: space-between;

      .footer-section {
        .section-title {
          font-size: 20px;
        } 
        .footer-list {
          font-size: 14px;
        }
        .footer-group {
          .social-media-link {
            @include svg-adjust(35px, var(--body-light));

            &:last-child {
              @include svg-adjust(37px, var(--body-light));
            }
          }
        }
      }
    }
  }

}


@media screen and (min-width: 1080px){
  .site-footer {
    .footer-container {
      display: flex;
      justify-content: space-between;
      .footer-logo-container {
        display: block;
      }

      .footer-section {
        .section-title {
          font-size: 24px;
        }

        .footer-list {
          font-size: 16px;
        }
      }
    }
  }
}