@import './reset/reset';
@import './reset/mixin';
@import './reset/colorSetting';
@import './reset/buttonTypeSettings';
@import './reset/defaultTitle';
@import './reset/search';

@import './header';

.main-container{
  padding-top: 45px + 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px){
  .main-container {
    padding-top: 60px + 20px;
  }
}

@import './main/program';
@import './main/joinUs/joinUs';

@import './main/subscribe';

@import './footer';


// @media screen and (min-width:768px) {}


// @media screen and (min-width: 1080px) {}